<div class='row'>
	<div id='form-container'>
		<div class='col-sm-8 col-sm-offset-2'>
			<div class='page-header text-center'>
				<h2>Artist registration</h2>
				<div id="status-buttons" class='text-center'>
					<a ui-sref-active='active' ui-sref='.basic'><span>1</span> Basic info</a>
					<a ui-sref-active='active' ui-sref='.upload'><span>2</span> Add music</a>
					<a ui-sref-active='active' ui-sref='.billing'><span>3</span> Get paid</a>
				</div>
			</div>

			
			<form id="signup-form" ng-submit='addArtist()'>
				<div ui-view></div>
			</form>
		</div>
	</div>
</div>

<!-- 
loading spinner
<div class='col-sm-offset-6 spinner' spinner="viewLoading"></div>
 -->