.row {
  margin-left: 0;
  margin-right: 0;
}


/* Background Image */
/**************
#welcome {
  height: 400px;
  background: url('../images/headphones.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100% auto;
}

#welcome div:first-child {
  color: #F3F3F3;
  background-color: #000000;
  height: 250px;
}
**************/

.spinner {
  margin-top: 30px;
}

/* NAV BAR */
.navbar {
  margin-bottom: 0px;
}

.nav-pic {
  margin: -2px 5px 0 0;
  max-height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

/* File upload */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* styles for xs (< 768px) */
@media (max-width: 768px) {
  #welcome {
    background-size: 768px;
  }

  #welcome div:first-child {
    color: #000000;
    /* TRANSPARENT BACKGROUND */
     /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0 opacity */
    background-color: rgba(0, 0, 0, 0);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  }
}


/****************
REGISTRATION FORM
****************/
/* form styling */
#form-container                { background:#2f2f2f; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#151515; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:16px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }


/****************************
Registration Animations
see: http://scotch.io/tutorials/javascript/angularjs-multi-step-form-using-ui-router
plus: http://scotch.io/tutorials/javascript/animating-angularjs-apps-ngview
****************************/
