<div class='form-group'>
	<label for='accountNum'>Account number</label>
	<input type='text' name='accountNum' class='form-control' ng-model='formData.accountNum' placeholder="Where we'll send your money">
</div>

<div class='form-group'>
	<label for='bank'>More banking info</label>
	<input type='text' name='bank' class='form-control' ng-model='formData.bank' placeholder="Banking info please">
</div>

<div class="form-group row">
	<button type='submit' class='btn btn-primary'>Finish registration</button>
</div>
